<div class="icons" fxFlex="noshrink">
    <button mat-icon-button matTooltip="Remind me"> <img src="../assets/dashboard/add_alert.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Collaborator"> <img src="../assets/dashboard/add_person.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Background color"> <img src="../assets/dashboard/color.svg" [matMenuTriggerFor]="aboveMenu" width="20px" height="20px"></button>
    <mat-menu #aboveMenu="matMenu" yPosition="below">
        <div class="pop">
          <div *ngFor='let color of colorarray'>
            <button style="background-color: transparent;border: none;" (click)="setColor(color)">
              <mat-icon c [ngStyle]="{color:color}">circle</mat-icon>
            </button>
          </div>
        </div>
      </mat-menu>
      
    <button mat-icon-button matTooltip="Add image"> <img src="../assets/dashboard/image.svg" width="20px" height="20px"></button>
    <button mat-icon-button matTooltip="Archive" (click)="onArchive()" > <img src="../assets/dashboard/Archive.svg" width="20px" height="20px"></button>
    <!-- <button mat-icon-button matTooltip="Unarchive"> <img src="../assets/dashboard/unArchive.svg" width="20px" height="20px"></button> -->
    <button mat-icon-button matTooltip="delete"  (click)="onDelete()"> <img src="../assets/dashboard/Bin.svg" width="20px" height="20px"></button>
</div>