<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="toolbar-row" fxLayout="row" fxLayoutAlign="space-between center">

        <div class="fundoo" fxLayout="row" fxLayoutAlign="center center" style="font-weight:500">
            <button mat-icon-button>
                <mat-icon matTooltip="Main Menu" (click)="sidenav.toggle();">menu</mat-icon>
            </button>
            <img src="../assets/dashboard/keep_2020q4_48dp.png" />
            <span>&nbsp;Fundoo</span>
        </div>

        <mat-form-field class="search" appearance="outline" fxHide fxShow.gt-xs>
            <input matInput class="search" type="search" placeholder="Search...">
            <span mat-icon-button matPrefix><img src="../assets/dashboard/Search-icon.svg"></span>
            <span mat-icon-button matSuffix type="button" style="visibility: hidden;"><img
                    src="../assets/dashboard/Cancel-Search.svg"></span>
        </mat-form-field>

        <mat-nav-list class="mat-nav-list" fxLayout="row">
            <button mat-icon-button><i class="material-icons">&#xe5d5;</i></button>
            <button mat-icon-button> <img src="../assets/dashboard/List.png" width="24px" height="24px"></button>
            <button mat-icon-button> <img src="../assets/dashboard/settings.svg" width="24px" height="24px"></button>
            <span style="width: 24px;" fxHide.lt-md></span>
            <button mat-icon-button> <img src="../assets/dashboard/circled-menu.png" width="24px" height="24px">
            </button>
            <button mat-icon-button> <img src="../assets/dashboard/Screenshot (292).png" width="33px" height="33px"
                    [matMenuTriggerFor]="profile"> </button>
            <mat-menu #profile="matMenu">
                <button mat-menu-item (click)="signOut()">Sign out</button>
            </mat-menu>
        </mat-nav-list>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false" mode="side">
        <mat-nav-list class="mat-nav-list">
            <a mat-list-item routerLink="notes">
                <img src="../assets/dashboard/Notes.svg">
                Notes
            </a>
            <a mat-list-item>
                <img src="../assets/dashboard/Reminder.svg">
                Reminders
            </a>
            <a mat-list-item>
                <img src="../assets/dashboard/Label.svg">
                Labels
            </a>
            <a mat-list-item>
                <img src="../assets/dashboard/EditLabel.svg">
                Edit labels
            </a>
            <a mat-list-item routerLink="archive">
                <img src="../assets/dashboard/Archive.svg">
                Archive
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>