// .display {
//     padding-left: 50px;
// }

.card {
    width: 250px;
    border: 1px solid gainsboro;
    min-height: 100px;
    overflow: hidden;
    border-radius: 15px;
    padding-left: 15px;

}

.icons {
    height: 42%;
    width: 100%;
    margin-top: 23%;
    margin-left: -1%;
    // visibility:hidden
}

button:hover {
    background-color: rgb(247, 233, 217);
}

.pin:hover {
    background-color: rgb(247, 233, 217);
}
@media (max-width: 726px) {
    .note{
        width: 350px;
    }
    .display-notes{
        justify-content: center;
    }
}
@media (max-width: 475px) {
    .note{
        width: 300px;
    }
    .display-notes{
        justify-content: center;
    }
}