<mat-card class="Main-container">
    <div class="form-content">
        <form>
            <div>
                <header>
                    <span style="color: blue">F</span>
                    <span style="color: red">u</span>
                    <span style="color: yellow">n</span>
                    <span style="color: blue">d</span>
                    <span style="color: blue">o</span>
                    <span style="color: green">o</span>
                </header>
                <h1>Sign in</h1>
                <h2>Use your Google Account</h2>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput />
              </mat-form-field>

              <div class="inp-col">
                <a class="Forgot">Forgot Password?</a>
                <mat-checkbox class="">Show Password</mat-checkbox>
                </div>

                <div class="but-div">
                    <button mat-flat-button class="next">Login</button>
                    <a class="Signin">Create account</a>
                  </div>


        </form>
    </div>
</mat-card>