<mat-card class="Main-container">
    <form [formGroup]="ForgotForm">
        <div>
            <header>
                <span style="color: blue">F</span>
                <span style="color: red">u</span>
                <span style="color: yellow">n</span>
                <span style="color: blue">d</span>
                <span style="color: blue">o</span>
                <span style="color: green">o</span>
            </header>
            <h1>Account recovery</h1>
            <h2>This helps show that this account really belongs to you</h2>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email"/>
                <mat-error *ngIf="ForgotForm.get('email')?.errors?.['required']">Email is required</mat-error>
                    <mat-error *ngIf="ForgotForm.get('email')?.errors?.['email']">Invalid Email </mat-error>
            </mat-form-field>
        </div>

        <div class="but-div">
            <button mat-flat-button class="next"(click)= "forgot()">Next</button>
            <button mat-button class="cancel" [routerLink]="['/login']">Cancel</button>
        </div>

    </form>
</mat-card>