$CommonColor:#1a73e8;

.Main-container {
    width: 400px;
    padding: 50px 40px 50px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;

}

mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $CommonColor !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $CommonColor !important;
}

.but-div {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.next {
    background-color: $CommonColor;
    color: white;
    width: 20%;
    font-weight: bold;
}

.cancel {
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 14px;
    color: $CommonColor;
    font-weight: bolder;

    &:hover {
        color: #174ea6;
    }

}

@mixin atag {
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 14px;
    color: $CommonColor;
    font-weight: bolder;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border: 0.5px solid #a8aaad79;
    border-radius: 15px;
}

.disp-email {
    border: 0.5px solid #a8aaad79;
    border-radius: 20px;
    width: max-content;
    padding: 5px 15px;
    margin: 5px auto 30px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
    background-color: $CommonColor !important;

}

@media only screen and (max-width:600px) {
    .Main-container {
        width: 80%;
        padding: 15px 0 0 0;
    }

    mat-card {
        border: none !important;
    }
}